body {
	background-image: url("../media/sfondo.jpg");
	background-size: cover;
}
button{
	background-image: url("../media/banner.png");
	background-size: cover;
	padding: 8px 4px;
	font-size: 22px;
	border: 0px;
	
}

