html{
	min-height: 100%;
	height: 100%;
}
.pino{
	background-image: url("../media/sfondo.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
	



.select{
	width: 10%;
	padding: 12px 20px;
	margin: 05px 0;
	display: inline-block;
	border: 2px solid white;
	box-sizing: border-box;
	background-color: #edcda8;
	border-radius: 5px;
}


h1{
	color: white;
}




